<div class="create-modal-backdrop"></div>
<div class="create-modal">
    <div class="create-modal-dialog">
        <div class="create-modal-content">

            <div class="create-modal-header">
                <span class="pull-left">Already got an account?
                    
                    <a href="" ng-click="logout()">Login to your Wallet</a></span>
                    
                Step 1 of 3
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 25%"></div>
                </div>
            </div>

            <div class="create-modal-body" ng-hide="signup.unexpected_error">
                <div class="title">Connect Trezor to create a GreenAddress wallet<br>
                    <small>This 3-step account setup will fully secure it against intruders</small>
                </div>
                <hr>
                <div class="subtitle" ng-hide="trezor_dev">Please connect your Trezor device</div>
                <div class="subtitle" ng-show="trezor_dev">Trezor detected.</div>
                <div class="subtitle" ng-show="trezor_dev.signing"><strong>Please confirm the signature on your Trezor device.</strong></div>
            </div>

            <div class="create-modal-footer" ng-hide="signup.unexpected_error">
                <label for="checkbox-confirmation">
                    <input type="checkbox" ng-model="signup.secured_confirmed" id="checkbox-confirmation"> I agree with the <a href="/tos" target="_blank">Terms of Service</a>
                </label>
                <br>
                <a class="btn btn-primary btn-block-xs" ng-class="{disabled:!signup.logged_in||!signup.secured_confirmed}" href="#/signup_oauth#content_container">Continue!</a>
            </div>

            <div class="create-modal-footer" ng-show="signup.unexpected_error">
                <a class="btn btn-danger login-submit" href="" ng-click="signup.try_again()">
                    Error:  (( signup.unexpected_error )).  Click to try again
                </a>
            </button>
            </div>

        </div>
    </div>
</div>


<div class="printable">
    <h1><img src="./static/img/logos/bit451-logo-trans-100.png" alt="Bit451">Bit451<br><small>http://bit451.com</small></h1>
    <p>The passphrase to access your wallet is:</p>
    <div class="mnemonic noanimate">(( signup.mnemonic ))</div>
    <qr ng-if="signup.mnemonic" class="qrcode" text="(( signup.mnemonic ))" size="212"></qr>
    <p><i class="glyphicon glyphicon-exclamation-sign"></i> <i>Store this page in a safe place</i></p>
</div>