<div class="modal-body text-center">
    <p>The QR code for Google Authenticator access to your wallet is:</p>
    <p><qr size="212" text="twofactor_state.google_secret_url"></qr></p>
    <p>You can also copy the code manually:</p>
    <p>(( twofactor_state.google_secret_key ))</p>
</div>
<div class="modal-footer">
  
  <button type="button" class="btn btn-primary" ng-click="$close()">Close</button>
</div>